<footer>
    <a routerLink="/feed" class="logo-container">
        <img src="../../../assets/logo/logo-nombre.png" alt="logo de la aplicion">
    </a>
    <div class="copyright-container">
        <span>Sitio hecho con ❤️</span>
        <span class="copyright">©2024 Nervios de Acero</span>
    </div>
    <div class="icon-contact-container">
        <a routerLink="/contacto" class="contact-icon-container">
            <img src="../../../assets/iconos/atencion-al-cliente.png" alt="">
        </a>
    </div>
</footer>
