<article class="card-container">
    <div card="card-body">
        <figure class="card-img-container">
            <img src="../../../assets/perfiles/hernan_perfil.jpg" alt="">
        </figure>
        <div class="card-content">
            <h3 class="title-card">Titulo de la Receta</h3>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis aliquid nemo eos corporis? Corporis ut natus quod vel numquam cum facilis. Nostrum officiis cupiditate non recusandae distinctio optio. Debitis, dolores.</p>
        </div>        
    </div>
</article>