.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 205px;
    margin: 30px;
}

.card-subscribe{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    border: 1px solid #B8E092;
    border-radius: 20px;
}

.card-body header, .card-footer-price{
    padding: 20px 5px;
    text-align: center;
    color: #FDFFEB;
    background: #B8E092;
    font-weight: 700;
}

.card-body header{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-footer-price{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-product-info{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.receta-info, .personas-info{
    font-size: 0.95rem;
    padding: 15px 0;
}

.button-container{
    padding: 15px 0;
}
.button-container input{
    width: 130px; 
    height: 18px;  
}

@media screen and (min-width: 768px) {
    .card-container{
        width: 285px;
    }

    .card-subscribe {
        width: 280px; /* Cambiar el ancho máximo para tablets */
    }

    .receta-info, .personas-info{
        font-size: 1.3rem;
        padding: 20px 5px;
    }

    .card-body header, .card-footer-price{
        font-size: 1.5rem;
    }

    .button-container{
        padding: 30px 0;
    }

    .button-container input{
        width: 150px; 
        height: 25px;  
    }
}

@media screen and (min-width: 1440px) {
    .card-container{
        width: 495px;
    }

    .card-subscribe {
        width: 480px; /* Cambiar el ancho máximo para tablets */
    }

    .receta-info, .personas-info{
        font-size: 2.5rem;
        padding: 30px 10px;
    }

    .card-body header, .card-footer-price{
        font-size: 2.5rem;
        padding: 35px 0;
    }

    .button-container{
        padding: 40px 0;
    }

    .button-container input{
        width: 200px; 
        height: 40px;  
    }
}