.feed-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Dos columnas en dispositivos grandes */
    gap: 20px; /* Espacio entre las cards */
  }
  
@media (max-width: 767px) {
    .feed-container {
      grid-template-columns: 1fr; /* Una columna en dispositivos móviles */
    }
}