.container-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
}

.container-contact h1{
    font-size: 1.2rem;
}

.container-contact h3{
    font-size: 0.90rem;
    padding-top: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 10px;
}

.register-container-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.register-container-input input{
    padding: 15px;
    background-color: #D9D9D9;
    border: none;
    width: 100%;
}

.register-container-input textarea{
    padding: 15px;
    background-color: #D9D9D9;
    border: none;
    width: 100%;
    resize: none;
    height: 60px;
}

.register-container-input input::placeholder{
    color: #6D6868;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.btn-register{
    width: 137px;
    height: 45px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 20px;
    color:  #FDFFEB;
    background-color: #B8E092;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.btn-register:hover{
    background-color: #3C5B27;
    transform: scale(1.1);
}

@media (min-width: 767px) {
    .container-contact{
        padding: 70px;
    }
    .register-container-input{
        width: 300px;
    }
    .btn-register{
        width: 300px;
    }
}

@media (min-width: 1024px) {
    .container-contact h1{
        font-size: 1.3rem;
    }
    .container-contact h3{
        font-size: 1rem;
    }
}