<section class="register-section">
    <div class="register-container">
        <h1 class="register-title">Bienvenido</h1>
        <figure class="logo-container-app">
            <img class="logo-img" src="../../../assets/logo/logo-palta.png" alt="logo de la app">
        </figure>
        <div>
            <p class="register-leyend">¡Regístrate ahora para unirte a esta creciente comunidad culinaria y disfrutar de miles de recetas!</p>
        </div>
        <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
            <div class="register-container-input">
                <input type="text" name="nombreCompleto" formControlName="nombreCompleto" placeholder="Nombre Completo"
                [class.is-invalid]="nombreCompleto?.touched && nombreCompleto?.invalid" [class.is-valid]="nombreCompleto?.touched && nombreCompleto?.valid">
                <span *ngIf="nombreCompleto?.touched && nombreCompleto?.hasError('required')">
                  el nombre es requerido
                </span>
                <span *ngIf="nombreCompleto?.touched && nombreCompleto?.hasError('minlength')">
                  el nombre debe tener al menos 6 letras
                </span>
                <span *ngIf="nombreCompleto?.touched && nombreCompleto?.hasError('manlength')">
                  el nombre debe tener como maximo 50 letras
                </span>
                <span *ngIf="nombreCompleto?.touched && nombreCompleto?.hasError('pattern')">
                  el nombre debe contener solo letras
                </span>
            </div>
            <div class="register-container-input">
                <input type="email" formControlName="email" placeholder="Email"
                [class.is-invalid]="email?.touched && email?.invalid" [class.is-valid]="email?.touched && email?.valid">
                <span *ngIf="email?.touched &&  email?.hasError('required')">
                  el email es requerido
                </span>
                <span *ngIf="email?.touched && email?.hasError('minlength')">
                  el email debe tener un formato correcto
                </span>
            </div>
            <div class="register-container-input">
              <input type="usuario" formControlName="usuario" placeholder="Usuario"
              [class.is-invalid]="usuario?.touched && usuario?.invalid" [class.is-valid]="usuario?.touched && usuario?.valid">
              <span *ngIf="usuario?.touched && usuario?.hasError('required')">
                el usuario es requerido
              </span>
              <span *ngIf="usuario?.touched && usuario?.hasError('minlength')">
                el usuario debe tener al menos 4 caracteres
              </span>
              <span *ngIf="usuario?.touched && usuario?.hasError('manlength')">
                el usuario debe tener como maximo 20 caracteres
              </span>
              <span *ngIf="usuario?.touched && usuario?.hasError('pattern')">
                el usuario no puede contener espacios y ciertos caracteres especiales
              </span>
            </div>
            <div class="register-container-input">
              <input type="password" formControlName="contrasenia" placeholder="Contraseña"
              [class.is-invalid]="contrasenia?.touched && contrasenia?.invalid" [class.is-valid]="contrasenia?.touched && contrasenia?.valid">
              <span *ngIf="contrasenia?.touched && contrasenia?.hasError('required')">
                la contraseña es requerida
              </span>
              <span *ngIf="contrasenia?.touched && contrasenia?.hasError('minlength')">
                la contraseña debe tener al menos 8 caracteres
              </span>
              <span *ngIf="contrasenia?.touched && contrasenia?.hasError('pattern')">
                la contraseña debe contener al menos una mayuscula y un numero
              </span>
            </div>
            <div class="register-container-input">
              <input type="password" formControlName="confirmContrasenia" placeholder="Confirmar contraseña"
              [class.is-invalid]="confirmContrasenia?.touched && registroForm.errors" [class.is-valid]="confirmContrasenia?.touched && confirmContrasenia?.valid">
              <span *ngIf="confirmContrasenia?.touched && registroForm.hasError('match_contrasenia')">
                las contrasenias no coinciden
              </span>
            </div>
           <div class="btn-container">
            <button class="btn-register" type="submit">Registrate</button>
           </div>
            <div class="span-container">
                <span class="span-register">Al registrarte aceptas nuestras Condiciones y la Política de privacidad.</span>
            </div>
        </form>
    </div>
    <div class="section-login">
        <div class="login-container">
            <p>¿Tienes una cuenta?</p>
            <a routerLink="/login">Entrar</a>
        </div>
    </div>
</section>
<section class="section-download-contact">
    <div class="section-download-app">
        <div class="container-span-download">
            <span>Descarga la aplicación</span>
            <div class="download-icon-container">
                <figure>
                    <img class="download-icon" src="../../../assets/iconos/app-store-android.png" alt="logo descarga android">
                </figure>
                <figure>
                    <img class="download-icon" src="../../../assets/iconos/app-store.png" alt="logo descarga ios">
                </figure>
            </div>
        </div>
    </div>
</section>
<div class="section-contacto">
    <div class="section-contacto-content">
        <div class="container-icon">
            <figure class="icon-container-contacto">
                <img class="icon-contacto" src="../../../assets/iconos/atencion-al-cliente.png" alt="icono de atencion al cliente">
            </figure>
        </div>
        <div class="contacto-container">
            <span class="span-contacto">Tenes problemas con la aplicación?</span>
            <a class="contacto-link" href="">Contáctanos</a>
        </div>
    </div>
</div>
