<section class="vista-detail-container">
    <div class="detail-container">
        <div class="img-container">
            <figure class="img-detail">
                <img src="../.../../../../assets/imagenes/vista-superior-mistura-de-ingredientes.jpg" alt="">
            </figure>
        </div>
        <div class="info-container">
            <h1>Titulo Receta</h1>
            <div>
               <p class="description-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam explicabo nostrum architecto quas? Accusantium voluptatibus earum, quia illo inventore accusamus ex, quidem officiis cupiditate suscipit excepturi a vero, repellendus illum?</p>
               <div class="icons-details-container">
                    <div class="details-info-container">
                        <figure class="timer-info-icon">
                            <img src="../../../assets/iconos/icon-reloj.png" alt="">
                        </figure>
                        <span>Tiempo de coccion</span>
                    </div>
                    <div class="details-info-container">
                        <figure class="cook-info-icon">
                            <img src="../../../assets/iconos/icon-batidor.png" alt="">
                        </figure>
                        <span>Nivel de dificultad</span>
                    </div>
               </div>               
            </div>
        </div>
    </div>
    <div class="ingredientes-container">
        <h3>Ingredientes</h3>
        <div class="ingredientes-list">
            <div>
               <ul>

               </ul>
            </div>
        </div>
    </div>
    <div class="pasos-container">
        <h3>Pasos de Preparación</h3>
        <div class="pasos-list">
            <div>
                <ol>
                    
                </ol>
            </div>
        </div>
    </div>
</section>