<section class="section-suscripcion">
    <div class="container-body-suscripcion">
        <div class="title-container">
            <h1>Elegí tu Suscripción</h1>
            <h3>Podes cambiar o cancelar cuando quieras</h3>
        </div>
        <div class="container-card-suscripcion">
            <!-- aca van las cards -->
        </div>
        <div class="container-info">
            <p>creo que mi combinación de habilidades técnicas, pasión por aprender y adaptabilidad me convierte en un candidato ideal para contribuir al equipo de Putput y ayudar a alcanzar sus objetivos de desarrollo web y aplicaciones digitales.</p>
        </div>
        <div>
            <button class="btn-suscribir">Suscríbete ahora</button>
        </div>
    </div>
</section>
