<section class="section-suscripcion">
    <div class="container-body-suscripcion">
        <div class="title-container">
            <h1>Elegí tu Suscripción</h1>
            <h3>Podes cambiar o cancelar cuando quieras</h3>
        </div>
        <div class="container-card-suscripcion">
        
        </div>
        <div class="container-info">
            <p> Recetas nuevas cada semana
                Después de finalizar tu pedido, puedes escoger entre muchas opciones deliciosas</p>
        </div>
        <div>
            <button class="btn-suscribir">Suscríbete ahora</button>
        </div>
    </div>
</section>
