.section-suscripcion{
    padding: 60px 0;   
    background-image: url("../../../assets/imagenes/background-suscripcion.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}

.container-body-suscripcion{
    padding: 90px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 10px 30px;
}

.title-container h1{
    font-size: 1.8rem;
    text-align: center;
}

.title-container h3{
    text-align: center;
    font-size: 0.90rem;
    padding-top: 15px;
}

.container-info{
    font-size: 0.70rem;
    text-align: center;
    padding: 40px 5px;
    font-weight: 600;
}

.btn-suscribir{
    background-color: #B8E092;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    color: #000;
    font-weight: 500;
}
.btn-suscribir:hover{
    cursor: pointer;
    background-color: #FDFFEB;
    border: 1px solid #B8E092;
}

.card-slider-container {
    overflow-x: auto; /* Habilita el desplazamiento horizontal solo en este contenedor */
    -webkit-overflow-scrolling: touch; /* Desplazamiento suave en dispositivos iOS */
    margin-bottom: 20px; /* Espacio opcional para separar del contenido siguiente */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  }
  
  .card-slider-wrapper {
    display: flex; /* Mantiene las tarjetas en una fila */
  }
  
  .card-slider {
    display: flex;
    flex-wrap: nowrap; /* Evita que las tarjetas se envuelvan */
    padding-bottom: 10px; /* Espacio adicional para desplazarse más fácilmente */
  }
  
  .app-card-suscribirse {
    flex: 0 0 auto;
    margin-right: 10px; /* Espacio entre las tarjetas */
  }
  
  .app-card-suscribirse:last-child {
    margin-right: 0; /* Elimina el margen derecho de la última tarjeta */
  }