<section class="section-perfil">
    <h1 class="title-perfil">Mi Perfil</h1>
    <div class="container-img-user">
        <figure class="user-img-container">
            <img class="img-user" src="../../../assets/perfiles/yani_perfil.jpg" alt="">
        </figure>
    </div>
    <div class="container-data">
        <div class="userName-data">
            <p class="nameUser">Nombre y Apellido</p>
            <p class="userName">nombreUsuario</p>
        </div>
        <div class="editar-icons">
            <img class="icon-pen" src="../../../assets/iconos/icons-lapiz.png" alt="icono de lapiz">
            <img class="icon-pen" src="../../../assets/iconos/icons-lapiz.png" alt="icono de lapiz">        
        </div>
    </div>  
    <div>
        <div class="input-container">
            <label for="">Correo electrónico</label>
            <input type="text">
        </div>
        <div class="group-container-password">
            <div>
                <div class="input-container">
                    <label for="">Contraseña actual</label>
                    <input type="password">
                </div>
                <div class="input-container">
                    <label for="">Contraseña nueva</label>
                    <input type="password">
                </div>
            </div>
            <div>
                <div class="icon-eye-container">
                    <figure class="input-container">
                        <img class="icon-pen" src="../../../assets/iconos/icon-ojo.png" alt="icono de ojo">
                    </figure>
                    <figure class="input-container">
                        <img class="icon-pen icon-change-password" src="../../../assets/iconos/icon-ojo.png" alt="icono de ojo">
                    </figure> 
                </div>
            </div>                 
        </div>
    </div> 
</section>
