@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.section-perfil{
    padding: 40px;
}

.title-perfil{
    font-family: "Sacramento", cursive;
    text-align: center;
    padding: 40px;
    font-size: 2rem;
}

.container-img-user{
    display: flex;
    justify-content: center;
}
.user-img-container{
    width: 120px;
    height: 120px; 
}
.img-user{
    width: 100%;
    height: auto;
    border-radius: 100%;
}

.container-data{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 50px 0;
}
.userName-data{
    display: flex;
    flex-direction: column;
}
.nameUser, .userName{
    padding: 10px 0;
    font-weight: 700;
}
.editar-icons{
    display: flex;
    flex-direction: column;
}
.icon-pen{
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease;
}
.icon-pen:hover{
   cursor: pointer;
   transform: translateY(-10px);
}

.input-container{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}


.icon-change-password{
    opacity: 0.3;
}

.register-container-input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.input-container {
    display: flex;
    flex-direction: column;
    padding: 0 0 30px 0; 
    box-sizing: border-box;
}
.input-container label {
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    margin-right: 10px;
    font-weight: 700;
  }
.input-container input{
    width: 100%;
    padding: 15px;
    border: 1px solid #B8E092;
    box-sizing: border-box;
}
.input-container input::placeholder{
    color: #3C5B27;
}
.input-container.email {
    max-width: 250px;   
  }
.group-input-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-change-password, .icon-pen {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease;
}

.horizontal-line {
    border-top: 2px solid #B8E092;
    margin-top: 50px;  
}


@media (min-width: 768px) {
    .info-container{
        display: flex;
        justify-content: flex-start;
        padding: 30px 0;
    }
    .user-img-container{
        padding-right: 50px
    }
    .editar-icons{
        padding-left: 50px;
    }

    .input-container label {
      width: auto;
      margin-right: 20px;
    }
  
    .icon-eye {
      justify-content: flex-end;
      margin-right: 15px;
    }
  }
  
  @media (min-width: 1024px) {
    .input-container label {
      width: 150px;
      margin-right: 30px;
    }
  
    .icon-eye {
      justify-content: flex-end;
      margin-right: 15px;
    }
  }