<section class="section-perfil">
    <h1 class="title-perfil">Mi Perfil</h1>
    <div class="info-container">
        <div class="container-img-user">
            <figure class="user-img-container">
                <img class="img-user" src="../../../assets/perfiles/yani_perfil.jpg" alt="">
            </figure>
        </div>
        <div class="container-data">
            <div class="userName-data">
                <p class="nameUser">Nombre y Apellido</p>
                <p class="userName">nombreUsuario</p>
            </div>
            <div class="editar-icons">
                <img class="icon-pen" src="../../../assets/iconos/icons-lapiz.png" alt="icono de lapiz">
                <img class="icon-pen" src="../../../assets/iconos/icons-lapiz.png" alt="icono de lapiz">        
            </div>
        </div>  
    </div>
    <div class="container-email-password">
        <div class="input-container email">
            <label for="">Correo electrónico</label>
            <input type="email">
        </div>
        <div class="group-container-password">
            <div>
                <div class="group-input-icon">
                    <div class="input-container">
                        <label for="">Contraseña actual</label>
                        <input type="password">
                    </div>
                    <figure class="icon-eye">
                        <img class="icon-pen" src="../../../assets/iconos/icon-ojo.png" alt="icono de ojo">
                    </figure>
                </div>
                <div class="group-input-icon">
                    <div class="input-container">
                        <label for="">Contraseña nueva</label>
                        <input type="password">
                    </div>
                   <div class="icon-pen-eye">
                    <figure class="icon-eye">
                        <img class="icon-pen icon-change-password" src="../../../assets/iconos/icon-ojo.png" alt="icono de ojo">                   
                    </figure> 
                    <figure class="icon-eye">
                        <img class="icon-pen pen-password" src="../../../assets/iconos/icons-lapiz.png" alt="icono de lapiz">
                    </figure>
                   </div>
                </div>      
            </div>              
        </div>
    </div> 
    <div class="horizontal-line"></div>
    <div class="container-confirm-cancel">
        <figure class="icon-confirm">
            <img src="../../../assets/iconos/icon-aprobar.png" alt="icono de aceptar">
        </figure>
        <figure class="icon-cancel">
            <img src="../../../assets/iconos/icon-cancelar.png" alt="icono de cancelar">
        </figure>   
    </div>
</section>
