<header>
    <input type="checkbox" id="toggle-menu">
    <label for="toggle-menu" class="toggle">
        <span class="common top_line"></span>
        <span class="common center_line"></span>
        <span class="common bottom_line"></span>
    </label>
    <nav>
        <figure class="logo-container">
            <img src="../../../assets/logo/logo-palta.png" alt="logo de la aplicacion palta">
        </figure>
        <div>
            <ul class="nav-menu">
                <li style="--i:1">
                    <div class="link-container">
                        <img class="icon-link" src="../../../assets/iconos/icon-home.png" alt="icono de casa">
                        <a class="link-item" routerLink="/">Home</a>
                    </div>
                </li>
                <li style="--i:2">
                    <div class="link-container">
                        <img class="icon-link" src="../../../assets/iconos/icon-busqueda.png" alt="icono de lupa">
                        <!-- <select class="select-categoria" name="categoria" id="categoria">
                          <option routerLink="/receta/getRecetasFeed">Todas</option>
                          @for (categoria of categorias(); track categoria) {
                            <option [value]="categoria.idCategoria">
                              <a routerLink="/receta/getRecetasFeed" [queryParams]="{categoria: categoria.idCategoria}">{{ categoria.nombre}}</a>
                            </option>
                          }
                        </select>
                       -->
                    </div>
                </li>
                <li style="--i:3">
                    <div class="link-container">
                        <img class="icon-link" src="../../../assets/iconos/icon-user.png" alt="icono de usuario">
                        <a class="link-item" routerLink="/perfil">Perfil</a>
                    </div>
                </li>
                <li style="--i:4">
                    <div class="link-container">
                        <img class="icon-link" src="../../../assets/iconos/icon-carrito.png" alt="icono de carrito">
                        <a class="link-item" routerLink="/suscribirse">SUSCRÍBETE</a>
                    </div>
                </li>
                <li style="--i:5">
                    <div class="link-container logout">
                        <img class="icon-link" src="../../../assets/iconos/icons-salida.png" alt="icono de logout">
                        <button class="btn-logout" (click)="logout()">Cerrar Sesión</button>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="main-content">
    <router-outlet></router-outlet>
</div>
<footer>
    <figure class="logo-container-footer">
        <img src="../../../assets/logo/logo-nombre.png" alt="logo de la aplicion">
    </figure>
    <div class="copyright-container">
        <span>Sitio hecho con ❤️</span>
        <span class="copyright">©2024 Nervios de Acero</span>
    </div>
    <div class="icon-contact-container">
        <a routerLink="/contacto" class="contact-icon-container">
            <img src="../../../assets/iconos/atencion-al-cliente.png" alt="icono de contacto">
        </a>
    </div>
</footer>
