<section class="about-container">
    <h1>Sobre Avocado</h1>
    <figure class="banner-container">
        <img src="../../../assets/imagenes/avocado_quienesSomos.jpg" alt="Ingredientes y bolsa de compra con el logo sobre una mesa">
    </figure>
    <div class="container-column">
        <div class="description-container">
            <p>En Avocado, estamos dedicados a inspirar y simplificar la experiencia culinaria diaria de nuestros usuarios. Nos apasiona conectar a las personas a través de la comida, y creemos firmemente que todos merecen disfrutar de comidas deliciosas y saludables en la comodidad de sus hogares.</p>
            <p>
                Nuestra plataforma, Avocado, es mucho más que una simple aplicación web de recetas. Es un lugar donde la creatividad se fusiona con la practicidad para brindar una experiencia culinaria única y emocionante. Desde recetas clásicas hasta platos innovadores de todo el mundo, nuestra biblioteca de recetas está cuidadosamente seleccionada para satisfacer todos los gustos y necesidades dietéticas.
            </p>
            <p>
                ¿Qué nos hace diferentes? En Avocado, no solo ofrecemos recetas increíbles; también brindamos a nuestros usuarios la oportunidad de llevar esas recetas del mundo digital al mundo real. Con nuestras suscripciones premium, los usuarios pueden acceder a una variedad de planes diseñados para adaptarse a sus estilos de vida y preferencias culinarias. Desde panes artesanales hasta menús completos para cenas familiares, nuestros planes ofrecen la flexibilidad y la conveniencia que los usuarios necesitan para disfrutar de una cocina casera excepcional.
            </p>
            <p>
                Pero nuestra misión va más allá de proporcionar recetas y ingredientes. En Avocado, estamos comprometidos a fomentar una comunidad de amantes de la comida que comparten ideas, consejos y experiencias culinarias. Creemos en el poder de la cocina para unir a las personas y estamos emocionados de ser parte de tu viaje culinario.
                Únete a nosotros en Avocado y descubre un mundo de sabores, creatividad y conexión a través de la comida. Estamos aquí para inspirarte, apoyarte y celebrar contigo cada paso del camino.
            </p>
            <p class="center-p">
                ¡Bienvenido a Avocado, donde la pasión por la comida se encuentra con la comodidad moderna!
            </p>
        </div>
        <div>
            <figure class="description-img">
                <img src="../../../assets/imagenes/vista-superior-mistura-de-ingredientes.jpg" alt="diversos ingredientes">
            </figure>
        </div>
    </div>
    <div class="gallery-container">
        <h2>El equipo que hace que Avocado sea posible</h2>
        <div class="gallery">
            <div class="column">
                <div class="image-container">
                    <img src="../../../assets/perfiles/aylen_perfil.jpg" alt="Gato anaranjado con anteojos rosas">
                    <div class="overlay">
                        <p class="name">Aylen</p>
                        <p class="role">Scrum Master y Developer</p>
                    </div>
                </div>
                <div class="image-container">
                    <img src="../../../assets/perfiles/flor_perfil.jpg" alt="Imagen 2">
                    <div class="overlay">
                        <p class="name">Flor</p>
                        <p class="role">Developer</p>
                    </div>
                </div>                      
                <div class="image-container">
                    <img src="../../../assets/perfiles/gaston_perfil.jpg" alt="Imagen 3">
                    <div class="overlay">
                        <p class="name">Gaston</p>
                        <p class="role">Developer</p>
                    </div>
                </div>                      
            </div>
            <div class="column">
                <div class="image-container">
                    <img src="../../../assets/perfiles/hernan_perfil.jpg" alt="Imagen 4">
                    <div class="overlay">
                        <p class="name">Hernan</p>
                        <p class="role">Developer</p>
                    </div>
                </div>                    
                <div class="image-container">
                    <img src="../../../assets/perfiles/tay_perfil.jpg" alt="Imagen 5">
                    <div class="overlay">
                        <p class="name">Tayhana</p>
                        <p class="role">Developer</p>
                    </div>
                </div>                     
                <div class="image-container">
                    <img src="../../../assets/perfiles/urielD_perfil.jpg" alt="Imagen 6">
                    <div class="overlay">
                        <p class="name">Uriel D.</p>
                        <p class="role">Developer</p>
                    </div>
                </div>                     
            </div>
            <div class="column-dupla">
                <div class="image-container">
                    <img src="../../../assets/perfiles/urielR_perfil.jpg" alt="Imagen 7">
                    <div class="overlay">
                        <p class="name">Uriel R.</p>
                        <p class="role">Developer</p>
                    </div>
                </div>
                <div class="image-container">
                    <img src="../../../assets/perfiles/yani_perfil.jpg" alt="Imagen 8">
                    <div class="overlay">
                        <p class="name">Yanina</p>
                        <p class="role">Developer</p>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</section>
