<section>
    <h1>Bienvenido</h1>
    <figure>
        <img src="frontend\src\assets\logo\logo-palta.png" alt="">
    </figure>
    <div>
        <p>¡Regístrate ahora para unirte a esta creciente comunidad culinaria y disfrutar de miles de recetas!</p>
    </div>
    <!-- <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="nombreCompleto" placeholder="Nombre Completo">
        <div *ngIf="f.nombreCompleto.errors?.required">Nombre Completo es requerido</div>
      
        <input type="email" formControlName="email" placeholder="Email">
        <div *ngIf="f.email.errors?.required">Email es requerido</div>
        <div *ngIf="f.email.errors?.email">Email inválido</div>
      
        <input type="password" formControlName="contraseña" placeholder="Contraseña">
        <div *ngIf="f.contraseña.errors?.required">Contraseña es requerida</div>
        <div *ngIf="f.contraseña.errors?.minlength">La contraseña debe tener al menos 6 caracteres</div>
      
        <button type="submit">Registrarse</button>
    </form> -->
</section>
