@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
}

.login-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: 40px;
}

.img-login-container{
    display: none;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #B8E092;
    padding: 15px;
}

.login-title{
    font-family: "Sacramento", cursive;
    font-weight: 400;
    text-align: center;
    font-size: 2.8rem;
}

.logo-container-app{
    width: 180px;
}
.logo-img{
    width: 100%;
    height: auto;
}

.login-leyend{
    padding: 10px 0;
    text-align: center;
    font-size: 1rem;
}

.login-container-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.login-container-input input{
    padding: 15px;
    background-color: #D9D9D9;
    border: none;
    width: 100%;

    &.is-valid{
      border: 2px solid #B8E092;
    }

    &.is-invalid{
      border: 2px solid red;
    }
}

.login-container-input span {
  color: red;
}

.login-container-input input::placeholder{
    color: #6D6868;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.btn-login{
    width: 137px;
    height: 40px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 20px;
    color:  #FDFFEB;
    background-color: #B8E092;
    border: none;
    transition: transform 0.3s;
}
.btn-login:hover{
    background-color: #3C5B27;
    transform: scale(1.1);
}

.span-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.span-login{
    text-align: center;
    font-size: 0.8rem;
}

.section-login{
    padding: 40px 0;
}
.login-container{
    display: flex;
    justify-content: center;
    border: 1px solid #B8E092;
    padding: 10px;
    font-size: 0.9rem;
}
.login-container a{
    color: #1656FA;
    font-weight: 500;
    text-decoration: none;
    padding-left: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}
.login-container a:hover{
    color: #3C5B27;
    transform: scale(1.1);
    text-decoration: underline;
}

.container-span-download{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 0.95rem;
}
.download-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 270px;
}
.download-icon{
    width: 100%;
    height: auto;
}

.section-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.section-contacto-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-container-contacto{
    width: 60px;
}
.icon-contacto{
    width: 100%;
    height: auto;
}
.contacto-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
}
.span-contacto{
    padding: 5px 0;
}
.contacto-link{
    padding: 5px 0;
    color: #3C5B27;
    text-decoration: none;
    font-size: 1rem;
    position:relative;
}
.contacto-link:hover{
    cursor: pointer;
    color: #1656FA;
    position:relative;
    font-weight: 600;
}
.contacto-link::before{
    content:"";
    display:block;
    position:absolute;
    bottom:-7px;
    left:0;
    width:100%;
    height:2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    background-color: #1656FA;
    transform-origin: 50% 0%;
}
.contacto-link:hover::before{
    transform: scaleX(1);
}



@media (min-width: 768px) {
    .login-container{
        width: 450px;
    }
    .login-container{
        width: 450px;
    }

    .section-download-app{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
   .icon-container-contacto{
        width: 70px;
   }
   .container-icon{
    display: flex;
   }

   .section-contacto{
    align-items: flex-end;
   }

   .link-android{
    width: 150px;
   }
}

@media (min-width: 1024px){
    .login-section{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .img-login-container{
        display: block;
        width: 480px;
        height: 530px;
        padding-right: 30px;
    }
    .img-login-container img{
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1440px){
    .login-section{
        justify-content: space-evenly;
    }

    .img-login-container{
        width: 500px;
        height: 530px;
        padding-right: 0;
    }
}