<section class="container-contact">
    <figure class="logo-icon">
        <img src="../../../assets/logo/logo-palta.png" alt="">
    </figure>
    <h1>CONTACTANOS</h1>
    <h3>En qué podemos ayudarte?</h3>
    <form>
        <div class="register-container-input">
            <input type="email" name="email" formControlName="email" placeholder="Email">           
        </div>
        <div class="register-container-input">
            <input type="text" name="subject" formControlName="subject" placeholder="Deja aquí tu asunto">           
        </div>
        <div class="register-container-input">
            <textarea name="" id="" placeholder="Coméntanos tu problema"></textarea>           
        </div>

       <div class="btn-container">
        <button class="btn-register" type="submit">Enviar</button>
       </div>
    </form>
    <div class="links-container">
        <a routerLink="/login">Iniciar Sesión</a>
        <a routerLink="/registrarse">Registrarse</a>
    </div>
</section>
